<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div layout:fragment="content" class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-3">register</h2>
        <form th:action="@{/user/register}" th:object="${user}" method="post">
            <div class="mb-3">
                <input class="form-control" placeholder="username" th:field="*{username}">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="password" th:field="*{password}">
            </div>
            <div class="mb-3">
                <input type="submit" class="form-control btn btn-primary" value="register">
            </div>
        </form>
        <a th:href="@{/login}" class="float-end">alredy registerd?</a>
    </div>
</div>
</body>
</html>