<!doctype html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>Board - Demo</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row align-items-center">
        <div class="col-auto me-auto">
            <h1 class="d-none">homepage</h1>
        </div>
        <div class="col-auto">
            <a href="/post/add" class="btn btn-outline-primary btn-sm">add post</a>
        </div>
    </div>
    <div>
        <div class="text-success" th:if="${message}" th:text="${message}">message</div>
        <div th:unless="${message}">&nbsp;</div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${postList}">
                <td>
                    <a th:href="@{/post/view/{id}(id=${post.id})}"
                       th:text="${post.title}">title</a>
                </td>
                <td th:text="${post.description}">description</td>
                <td>
                    <a th:href="@{/post/edit/{id}(id=${post.id})}">edit</a>
                    <a th:href="@{/post/delete/{id}(id=${post.id})}"
                       onclick="return confirm('Do you really want to delete this post?')">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>