<!doctype html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>Board - Demo</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="d-none">homepage</h1>
    <div class="row align-items-center">
        <div class="col-auto me-auto">
            <a href="/post/add" class="btn btn-outline-primary btn-sm">add post</a>
        </div>
        <div class="col-auto">
            <form class="d-flex" th:action="@{/}" method="post">
                <input class="me-2" type="search" placeholder="search" aria-label="search" name="term" th:value="${term}" />
                <button class="btn btn-outline-primary btn-sm" type="submit">search</button>
            </form>
        </div>
    </div>
    <table class="table table-striped table-hover caption-top">
        <caption>
            <span class="me-3">list of post(s)</span>
            <span class="text-success" th:text="(${message} == null) ? '' : ${message}">message</span>
        </caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">comment(s)</th>
                <th scope="col">click(s)</th>
                <th scope="col" class="text-center" th:if="${principal != null}">action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${post.content}">
                <td class="col-1" th:text="${post.id}">id</td>
                <td class="col-6">
                    <a th:href="@{/post/view/{id}(id=${post.id})}"
                       th:text="${post.title}">title</a>
                </td>
                <td class="col-1 text-center" th:text="${post.numComments}">number of comment(s)</td>
                <td class="col-1 text-center" th:text="${post.numClicks}">number of click(s)</td>
                <td class="col-2" align="right" th:if="${principal != null}">
                    <a class="btn btn-outline-primary btn-sm" th:href="@{/post/edit/{id}(id=${post.id})}">edit</a>
                    <a class="btn btn-outline-primary btn-sm" th:href="@{/post/delete/{id}(id=${post.id})}"
                       onclick="return confirm('Do you really want to delete this post?')">delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li th:class="(${post.number} > 0) ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/(page=${post.number})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="pg : ${pages}" th:class="${pg == post.number + 1} ? 'page-item active' : 'page-item'">
                <a href="#" th:href="@{/(page=${pg})}" class="page-link" th:text="${pg}">1</a>
            </li>
            <li th:class="(${post.number + 1} < ${post.totalPages}) ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/(page=${(post.number + 1) + 1})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>